[Desktop Entry]
Name=tlauncher
Exec=java -jar 'own location of file
Type=Application
Comment=22dada
Categories=Games;
Terminal=false
StartupNotify=true
